# If your project has any requirements not included in anaconda, include them here

This program has a dependecy, it uses pygame to play a music file later on in the program.
So you will need to add this pygame library in python through command prompt, 'pip install pygame'.
Refer to the link: "https://pypi.org/project/Pygame/"